body{
            
    color:antiquewhite;
    }
    main{
        background-color:rgb(32,205,235);
    }
    label
    {
    font-size: 1.5rem;
    }
    p{
    color:darkslategray;
    }
    .padre
    {
        display:flex;
        flex-flow:column nowrap;
    
    }
    .header
   {
       background: url(header.png);
       background-size: cover;
       display: flex;
       flex-flow: column nowrap;
       background-attachment:contain;
   }
    
     h4{
     color:rgb(193, 193, 212);
    }
    
    .boton1
    {
     margin:0;
     padding:0;
     background: transparent;
     border: transparent;

    }
    .color:hover{
      
        background-color:rgb(1, 187, 255);
    }
    .close:link
    {
        border:none;
        outline: none;
    }
    .boton1:link
    {
        
        outline-style: none;
       
       
    } 
    
   .edit{
       border: none;
       background-color: transparent;
       color: darkslategray;
        
   }
   .h4
   {
       margin-top: 22%;
       font-size: 4rem;
   }
  .marg-img{
      margin-top: 10%;
  }
fieldset,legend
  {
      border: azure;
      border-radius: 5px;
      border-style: solid;
      margin:5px;
  }
 
  
  .box {
      background-image:url(agenda.png);
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 10px;
      margin:auto;
      position: relative;
      width:220px;
      height:250px;
      overflow: hidden;
      }
   .icon{
       color:white;
       font-size:1.5rem;
       position: relative;
       top:100px;
       margin: auto;
       z-index: 1;
   }
  
  .box .background-hover{
      width:100px;
     height:100px;
     background:rgba(1,187,255,0.9);
     position: absolute;
     top:250px;
     left:-170px;
     border-radius: 100%;
     transition:all 300ms;
    
  }
  .box:hover .background-hover
  {
      width:400px;
      height:400px;
      top:-60px;
      left:-70px;
  }